<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SocialIncDetailMapper">
	
<!-- 
 * 说明： 社保明细
 * 创建人：zhangxiaoliu
 * 创建时间：2017-06-19
 * @version
 -->
	<!--表名 -->
	<sql id="tableName">
		tb_social_inc_detail
	</sql>
	
	<!-- 字段 -->
	<sql id="FieldSelectKey"> BILL_CODE BILL_CODE__, BUSI_DATE BUSI_DATE__, USER_CODE USER_CODE__,</sql>
	<sql id="Field"> BILL_CODE,	BUSI_DATE, USER_CODE, USER_NAME, USER_GROP, SOC_INC_BASE, PER_ENDW_INS, PER_MED_INS, PER_UNEMPL_INS, PER_TOTAL, DEPT_ENDW_INS, DEPT_MED_INS, DEPT_UNEMPL_INS, EMPT_INJ_INS, MATY_INS, DEPT_TOTAL, DEPT_CODE, USER_CATG, PMT_PLACE, CUST_COL1, CUST_COL2, CUST_COL3, CUST_COL4, CUST_COL5, CUST_COL6, CUST_COL7, CUST_COL8, CUST_COL9, CUST_COL10, ESTB_DEPT
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue"> #{BILL_CODE}, #{BUSI_DATE}, #{USER_CODE}, #{USER_NAME}, #{USER_GROP}, #{SOC_INC_BASE}, #{PER_ENDW_INS}, #{PER_MED_INS}, #{PER_UNEMPL_INS}, #{PER_TOTAL}, #{DEPT_ENDW_INS}, #{DEPT_MED_INS}, #{DEPT_UNEMPL_INS},	#{EMPT_INJ_INS}, #{MATY_INS}, #{DEPT_TOTAL}, #{DEPT_CODE}, #{USER_CATG}, #{PMT_PLACE}, #{CUST_COL1}, #{CUST_COL2}, #{CUST_COL3}, #{CUST_COL4}, #{CUST_COL5}, #{CUST_COL6}, #{CUST_COL7}, #{CUST_COL8}, #{CUST_COL9}, #{CUST_COL10}, #{ESTB_DEPT} </sql>
	
	<!-- 获取员工编码 相当于字典-->
	<!-- 张晓柳 -->
	<select id="getHaveUserCodeDic" parameterType="pd" resultType="String">
		select USER_CODE
		from <include refid="tableName"></include>
		where BUSI_DATE = '${RPT_DUR}'
		and DEPT_CODE = '${RPT_DEPT}'
	</select>
	
	<!-- 获取数据 验证数据重复 -->
	<select id="findByPd" parameterType="pd" resultType="com.fh.entity.SocialIncDetailModel">
		select 
		    <include refid="FieldSelectKey"></include>
		    <include refid="Field"></include>
		from 
		    <include refid="tableName"></include>
		where BUSI_DATE = #{BUSI_DATE}
		and (USER_CODE = #{USER_CODE} and USER_CODE != #{USER_CODE__})
	</select>
	<select id="findByModel" parameterType="com.fh.entity.SocialIncDetailModel" resultType="com.fh.entity.SocialIncDetailModel">
		select 
		    <include refid="FieldSelectKey"></include>
		    <include refid="Field"></include>
		from 
		    <include refid="tableName"></include>
        <where>
		<foreach item="item" index="index" collection="list" open=" " separator=" or " close=" ">
            (BUSI_DATE = #{item.BUSI_DATE} and USER_CODE = #{item.USER_CODE} and USER_CODE != #{item.USER_CODE__})
		</foreach>
		</where>
	</select>
	
	<!-- 列表 -->
	<select id="datalistJqPage" parameterType="jqPage" resultType="pd">
		select 
		    <include refid="FieldSelectKey"></include>
		    <include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where BUSI_DATE = '${pd.SystemDateTime}'
		and DEPT_CODE = '${pd.DepartCode}'
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
		<if test="pd.UserCode!= null and pd.UserCode != ''"><!-- 关键词检索 -->
		    and USER_CODE = '${pd.UserCode}'
		</if>
		<if test="sidx != null and sidx.trim() != ''" >
			order by ${sidx} ${sord} 
    	</if>
		<if test="currentResult != null and rowNum != null" >           
              limit #{currentResult}, #{rowNum} 
        </if>
	</select>
	<select id="countJqGridExtend" parameterType="jqPage" resultType="int">
		select count(*) from <include refid="tableName"></include> 
		where BUSI_DATE = '${pd.SystemDateTime}'
		and DEPT_CODE = '${pd.DepartCode}'
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
		<if test="pd.UserCode!= null and pd.UserCode != ''"><!-- 关键词检索 -->
		    and USER_CODE = '${pd.UserCode}'
		</if>
	</select>
	<select id="getFooterSummary" parameterType="jqPage" resultType="pd">
		select ${pd.Userdata} 
		from <include refid="tableName"></include> 
		where BUSI_DATE = '${pd.SystemDateTime}'
		and DEPT_CODE = '${pd.DepartCode}'
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
		<if test="pd.UserCode!= null and pd.UserCode != ''"><!-- 关键词检索 -->
		    and USER_CODE = '${pd.UserCode}'
		</if>
	</select>
	
	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into 
	    <include refid="tableName"></include>
		(
	    <include refid="Field"></include>
		) values (
	    <include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			BILL_CODE = #{BILL_CODE},
			BUSI_DATE = #{BUSI_DATE},
			USER_CODE = #{USER_CODE},
			USER_NAME = #{USER_NAME},
			USER_GROP = #{USER_GROP},
			SOC_INC_BASE = #{SOC_INC_BASE},
			PER_ENDW_INS = #{PER_ENDW_INS},
			PER_MED_INS = #{PER_MED_INS},
			PER_UNEMPL_INS = #{PER_UNEMPL_INS},
			PER_TOTAL = #{PER_TOTAL},
			DEPT_ENDW_INS = #{DEPT_ENDW_INS},
			DEPT_MED_INS = #{DEPT_MED_INS},
			DEPT_UNEMPL_INS = #{DEPT_UNEMPL_INS},
			EMPT_INJ_INS = #{EMPT_INJ_INS},
			MATY_INS = #{MATY_INS},
			DEPT_TOTAL = #{DEPT_TOTAL},
			DEPT_CODE = #{DEPT_CODE},
			USER_CATG = #{USER_CATG},
			PMT_PLACE = #{PMT_PLACE},
			CUST_COL1 = #{CUST_COL1},
			CUST_COL2 = #{CUST_COL2},
			CUST_COL3 = #{CUST_COL3},
			CUST_COL4 = #{CUST_COL4},
			CUST_COL5 = #{CUST_COL5},
			CUST_COL6 = #{CUST_COL6},
			CUST_COL7 = #{CUST_COL7},
			CUST_COL8 = #{CUST_COL8},
			CUST_COL9 = #{CUST_COL9},
			CUST_COL10 = #{CUST_COL10},
			ESTB_DEPT = #{ESTB_DEPT}
		where BUSI_DATE = #{BUSI_DATE__} 
		and USER_CODE = #{USER_CODE__}
	</update>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="com.fh.entity.SocialIncDetailModel">
		delete from
		<include refid="tableName"></include>
		where
		<foreach item="item" index="index" collection="list" open=" (" separator=" or " close=") ">
            BUSI_DATE = #{item.BUSI_DATE__} and USER_CODE = #{item.USER_CODE__} 
		</foreach>
	</delete>
	
	<!-- 批量保存 -->
	<update id="updateAll" parameterType="com.fh.entity.SocialIncDetailModel">
		update
		    <include refid="tableName"></include>
		set 
			BILL_CODE = #{BILL_CODE},
			BUSI_DATE = #{BUSI_DATE},
			USER_CODE = #{USER_CODE},
			USER_NAME = #{USER_NAME},
			USER_GROP = #{USER_GROP},
			SOC_INC_BASE = #{SOC_INC_BASE},
			PER_ENDW_INS = #{PER_ENDW_INS},
			PER_MED_INS = #{PER_MED_INS},
			PER_UNEMPL_INS = #{PER_UNEMPL_INS},
			PER_TOTAL = #{PER_TOTAL},
			DEPT_ENDW_INS = #{DEPT_ENDW_INS},
			DEPT_MED_INS = #{DEPT_MED_INS},
			DEPT_UNEMPL_INS = #{DEPT_UNEMPL_INS},
			EMPT_INJ_INS = #{EMPT_INJ_INS},
			MATY_INS = #{MATY_INS},
			DEPT_TOTAL = #{DEPT_TOTAL},
			DEPT_CODE = #{DEPT_CODE},
			USER_CATG = #{USER_CATG},
			PMT_PLACE = #{PMT_PLACE},
			CUST_COL1 = #{CUST_COL1},
			CUST_COL2 = #{CUST_COL2},
			CUST_COL3 = #{CUST_COL3},
			CUST_COL4 = #{CUST_COL4},
			CUST_COL5 = #{CUST_COL5},
			CUST_COL6 = #{CUST_COL6},
			CUST_COL7 = #{CUST_COL7},
			CUST_COL8 = #{CUST_COL8},
			CUST_COL9 = #{CUST_COL9},
			CUST_COL10 = #{CUST_COL10},
			ESTB_DEPT = #{ESTB_DEPT}
		where BUSI_DATE = #{BUSI_DATE__} 
		and USER_CODE = #{USER_CODE__}
	</update>
	
	<!-- 导出列表 -->
	<select id="exportList" parameterType="jqPage" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where BUSI_DATE = '${pd.SystemDateTime}'
		and DEPT_CODE = '${pd.DepartCode}'
		<!-- <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''">
			and ${pd.filterWhereResult}
		</if> -->
		<if test="sidx != null" >
			order by ${sidx} ${sord} 
    	</if>
	</select>
	<!-- 导出模板 -->
	<select id="exportModel" parameterType="String" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where DEPT_CODE = #{DepartCode}
		order by BUSI_DATE desc
		limit 1
	</select>
	
	<!-- 导入-->
	<delete id="importDelete" parameterType="com.fh.entity.SocialIncDetailModel">
		delete from
		<include refid="tableName"></include>
		where BUSI_DATE = #{BUSI_DATE}
	    and DEPT_CODE = #{DEPT_CODE} 
	</delete>
	<insert id="importInsert" parameterType="com.fh.entity.SocialIncDetailModel">
		insert into 
	    <include refid="tableName"></include>
		(
	    <include refid="Field"></include>
		) values (
	    <include refid="FieldValue"></include>
		)
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 获取汇总里的明细 -->
	<select id="getDetailList" parameterType="pd" resultType="pd">
		select * 
		from <include refid="tableName"></include>
	    where BILL_CODE = #{BILL_CODE}
	</select>
	
	<select id="getSum" parameterType="java.util.Map" resultType="pd">
        select 
            ${GroupbyFeild},
			sum(SOC_INC_BASE) SOC_INC_BASE,
			sum(PER_ENDW_INS) PER_ENDW_INS,
			sum(PER_MED_INS) PER_MED_INS,
			sum(PER_UNEMPL_INS) PER_UNEMPL_INS,
			sum(PER_TOTAL) PER_TOTAL,
			sum(DEPT_ENDW_INS) DEPT_ENDW_INS,
			sum(DEPT_MED_INS) DEPT_MED_INS,
			sum(DEPT_UNEMPL_INS) DEPT_UNEMPL_INS,
			sum(EMPT_INJ_INS) EMPT_INJ_INS,
			sum(MATY_INS) MATY_INS,
			sum(DEPT_TOTAL) DEPT_TOTAL,
			
			sum(CUST_COL1) CUST_COL1,
			sum(CUST_COL2) CUST_COL2,
			sum(CUST_COL3) CUST_COL3,
			sum(CUST_COL4) CUST_COL4,
			sum(CUST_COL5) CUST_COL5,
			sum(CUST_COL6) CUST_COL6
		from 
		<include refid="tableName"></include>
		where BUSI_DATE = '${BUSI_DATE}'
	    and DEPT_CODE = '${DEPT_CODE}'
	    group by ${GroupbyFeild}
    </select>

	<!-- 修改单号 -->
	<update id="editBillCode" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			BILL_CODE = #{BILL_CODE}
		where ${updateFilter}
	</update>
	
</mapper>