<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SocialIncSummyMapper">
	
	<!--表名 -->
	<sql id="tableName">
		tb_social_inc_summy
	</sql>
	
	<!-- 字段 -->
	<sql id="FieldSelectKey">
		BILL_CODE BILL_CODE__,	
	</sql>
	<sql id="Field">
		BILL_CODE,	
		BUSI_DATE,	
		ESTB_DEPT,	
		USER_GROP,	
		SOC_INC_BASE,	
		PER_ENDW_INS,	
		PER_MED_INS,	
		PER_UNEMPL_INS,	
		PER_TOTAL,	
		DEPT_ENDW_INS,	
		DEPT_MED_INS,	
		DEPT_UNEMPL_INS,	
		EMPT_INJ_INS,	
		MATY_INS,	
		DEPT_TOTAL,	
		DEPT_CODE,	
		USER_CATG,	
		PMT_PLACE,	
		CUST_COL1,	
		CUST_COL2,	
		CUST_COL3,	
		CUST_COL4,	
		CUST_COL5,	
		CUST_COL6,	
		CUST_COL7,	
		CUST_COL8,	
		CUST_COL9,	
		CUST_COL10,	
		ZRZC_CODE,	
		BILL_STATE,	
		BILL_USER,	
		BILL_DATE
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{BILL_CODE},	
		#{BUSI_DATE},	
		#{ESTB_DEPT},	
		#{USER_GROP},	
		#{SOC_INC_BASE},	
		#{PER_ENDW_INS},	
		#{PER_MED_INS},	
		#{PER_UNEMPL_INS},	
		#{PER_TOTAL},	
		#{DEPT_ENDW_INS},	
		#{DEPT_MED_INS},	
		#{DEPT_UNEMPL_INS},	
		#{EMPT_INJ_INS},	
		#{MATY_INS},	
		#{DEPT_TOTAL},	
		#{DEPT_CODE},	
		#{USER_CATG},	
		#{PMT_PLACE},	
		#{CUST_COL1},	
		#{CUST_COL2},	
		#{CUST_COL3},	
		#{CUST_COL4},	
		#{CUST_COL5},	
		#{CUST_COL6},	
		#{CUST_COL7},	
		#{CUST_COL8},	
		#{CUST_COL9},	
		#{CUST_COL10},	
		#{ZRZC_CODE},	
		#{BILL_STATE},	
		#{BILL_USER},	
		#{BILL_DATE}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			BILL_CODE = #{BILL_CODE},
			BUSI_DATE = #{BUSI_DATE},
			ESTB_DEPT = #{ESTB_DEPT},
			USER_GROP = #{USER_GROP},
			SOC_INC_BASE = #{SOC_INC_BASE},
			PER_ENDW_INS = #{PER_ENDW_INS},
			PER_MED_INS = #{PER_MED_INS},
			PER_UNEMPL_INS = #{PER_UNEMPL_INS},
			PER_TOTAL = #{PER_TOTAL},
			DEPT_ENDW_INS = #{DEPT_ENDW_INS},
			DEPT_MED_INS = #{DEPT_MED_INS},
			DEPT_UNEMPL_INS = #{DEPT_UNEMPL_INS},
			EMPT_INJ_INS = #{EMPT_INJ_INS},
			MATY_INS = #{MATY_INS},
			DEPT_TOTAL = #{DEPT_TOTAL},
			DEPT_CODE = #{DEPT_CODE},
			USER_CATG = #{USER_CATG},
			PMT_PLACE = #{PMT_PLACE},
			CUST_COL1 = #{CUST_COL1},
			CUST_COL2 = #{CUST_COL2},
			CUST_COL3 = #{CUST_COL3},
			CUST_COL4 = #{CUST_COL4},
			CUST_COL5 = #{CUST_COL5},
			CUST_COL6 = #{CUST_COL6},
			CUST_COL7 = #{CUST_COL7},
			CUST_COL8 = #{CUST_COL8},
			CUST_COL9 = #{CUST_COL9},
			CUST_COL10 = #{CUST_COL10},
			ZRZC_CODE = #{ZRZC_CODE},
			BILL_STATE = #{BILL_STATE},
			BILL_USER = #{BILL_USER},
			BILL_DATE = #{BILL_DATE}
		where 
		BILL_CODE = #{BILL_CODE__}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			BILL_CODE = #{BILL_CODE__}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
</mapper>