<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StaffSummyMapper">
	
<!-- 
 * 说明： 工资汇总
 * 创建人：zhangxiaoliu
 * 创建时间：2017-06-19
 * @version
 -->
 
	<!--表名 -->
	<sql id="tableName">
		tb_staff_summy
	</sql>
	
	<!-- 字段 -->
	<sql id="FieldSelectKey">
		BILL_CODE BILL_CODE__, DEPT_CODE DEPT_CODE__, BUSI_DATE BUSI_DATE__, USER_CATG USER_CATG__, USER_GROP USER_GROP__,
	</sql>
	<sql id="Field">
		BILL_CODE,	
		BUSI_DATE,	
		ESTB_DEPT,	
		USER_GROP,	
		USER_CATG,	
		DEPT_CODE,	
		ORG_UNIT,	
		SAL_RANGE,	
		POST_SALY,	
		BONUS,	
		CASH_BONUS,	
		WORK_OT,	
		BACK_SALY,	
		RET_SALY,	
		CHK_CASH,	
		INTR_SGL_AWAD,	
		SENY_ALLE,	
		POST_ALLE,	
		NS_ALLE,	
		AREA_ALLE,	
		EXPT_ALLE,	
		TECH_ALLE,	
		LIVE_EXPE,	
		LIVE_ALLE,	
		LEAVE_DM,	
		HOUSE_ALLE,	
		ITEM_ALLE,	
		MEAL_EXPE,	
		TRF_ALLE,	
		TEL_EXPE,	
		HLDY_ALLE,	
		KID_ALLE,	
		COOL_EXPE,	
		EXT_SGL_AWAD,	
		PRE_TAX_PLUS,	
		GROSS_PAY,	
		ENDW_INS,	
		UNEMPL_INS,	
		MED_INS,	
		CASD_INS,	
		HOUSE_FUND,	
		SUP_PESN,	
		TAX_BASE_ADJ,	
		ACCRD_TAX,	
		AFTER_TAX,	
		ACT_SALY,	
		GUESS_DIFF,	
		CUST_COL1,	
		CUST_COL2,	
		CUST_COL3,	
		CUST_COL4,	
		CUST_COL5,	
		CUST_COL6,	
		CUST_COL7,	
		CUST_COL8,	
		CUST_COL9,	
		CUST_COL10,	
		ZRZC_CODE,	
		BILL_STATE,	
		BILL_USER,	
		BILL_DATE
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{BILL_CODE},	
		#{BUSI_DATE},	
		#{ESTB_DEPT},	
		#{USER_GROP},	
		#{USER_CATG},	
		#{DEPT_CODE},	
		#{ORG_UNIT},	
		#{SAL_RANGE},	
		#{POST_SALY},	
		#{BONUS},	
		#{CASH_BONUS},	
		#{WORK_OT},	
		#{BACK_SALY},	
		#{RET_SALY},	
		#{CHK_CASH},	
		#{INTR_SGL_AWAD},	
		#{SENY_ALLE},	
		#{POST_ALLE},	
		#{NS_ALLE},	
		#{AREA_ALLE},	
		#{EXPT_ALLE},	
		#{TECH_ALLE},	
		#{LIVE_EXPE},	
		#{LIVE_ALLE},	
		#{LEAVE_DM},	
		#{HOUSE_ALLE},	
		#{ITEM_ALLE},	
		#{MEAL_EXPE},	
		#{TRF_ALLE},	
		#{TEL_EXPE},	
		#{HLDY_ALLE},	
		#{KID_ALLE},	
		#{COOL_EXPE},	
		#{EXT_SGL_AWAD},	
		#{PRE_TAX_PLUS},	
		#{GROSS_PAY},	
		#{ENDW_INS},	
		#{UNEMPL_INS},	
		#{MED_INS},	
		#{CASD_INS},	
		#{HOUSE_FUND},	
		#{SUP_PESN},	
		#{TAX_BASE_ADJ},	
		#{ACCRD_TAX},	
		#{AFTER_TAX},	
		#{ACT_SALY},	
		#{GUESS_DIFF},	
		#{CUST_COL1},	
		#{CUST_COL2},	
		#{CUST_COL3},	
		#{CUST_COL4},	
		#{CUST_COL5},	
		#{CUST_COL6},	
		#{CUST_COL7},	
		#{CUST_COL8},	
		#{CUST_COL9},	
		#{CUST_COL10},	
		#{ZRZC_CODE},	
		#{BILL_STATE},	
		#{BILL_USER},	
		#{BILL_DATE}
	</sql>
	
	<!-- 获取 -->
	
	<!-- 列表 -->
	<select id="datalistJqPage" parameterType="jqPage" resultType="pd">
		select 
		    <include refid="FieldSelectKey"></include>
		    <include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where BUSI_DATE = ${pd.SystemDateTime}
		and DEPT_CODE not in (select RPT_DEPT 
		                      from tb_sys_sealed_info 
		                      where RPT_DUR = ${pd.SystemDateTime} 
		                      and STATE = ${pd.DurState} 
		                      and BILL_TYPE = ${pd.TypeCode} 
		                      )
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
		<if test="pd.DepartCode!= null and pd.DepartCode != ''"><!-- 关键词检索 -->
		    and DEPT_CODE in (${pd.DepartCode})
		</if>
		<if test="sidx != null and sidx.trim() != ''" >
			order by ${sidx} ${sord} 
    	</if>
		<!-- <if test="currentResult != null and rowNum != null" >           
              limit #{currentResult}, #{rowNum}  
        </if> -->
	</select>
	<select id="countJqGridExtend" parameterType="jqPage" resultType="int">
		select count(*) from <include refid="tableName"></include> 
		where BUSI_DATE = ${pd.SystemDateTime}
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
		<if test="pd.DepartCode!= null and pd.DepartCode != ''"><!-- 关键词检索 -->
		    and DEPT_CODE in (${pd.DepartCode})
		</if>
	</select>
	<select id="getFooterSummary" parameterType="jqPage" resultType="pd">
		select ${pd.Userdata} 
		from <include refid="tableName"></include> 
		where BUSI_DATE = ${pd.SystemDateTime}
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
		<if test="pd.DepartCode!= null and pd.DepartCode != ''"><!-- 关键词检索 -->
		    and DEPT_CODE in (${pd.DepartCode})
		</if>
	</select>
	
	<!-- 删除数据 -->
	<delete id="delete" parameterType="pd">
		delete from 
		<include refid="tableName"></include>
		where BUSI_DATE = #{BUSI_DATE}
	    and DEPT_CODE = #{DEPT_CODE} 
	</delete>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	
	<!-- 获取汇总数据 -->
	<select id="getHave" parameterType="java.util.Map" resultType="pd">
        select * 
		from 
		<include refid="tableName"></include>
		where BUSI_DATE = #{BUSI_DATE}
	    and DEPT_CODE = #{DEPT_CODE} 
    </select>
	
</mapper>