<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GlZrzxMapper">
	<!--表名 -->
	<sql id="tableName">
		tb_gl_zrzx
	</sql>
	
	<!-- 字段 -->
	<sql id="Field"> DEPT_CODE, ZRZX_CODE </sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue"> #{DEPT_CODE}, #{ZRZX_CODE} </sql>
	
	
	<!-- 根据DEPT_CODE获取 -->
	<!-- 张晓柳 -->
	<select id="findDeptFromZrzx" resultType="com.fh.entity.ZrzxModel" parameterType="String">
	    select *
	    from <include refid="tableName"></include>
	    where DEPT_CODE = #{DEPT_CODE}
	</select>
</mapper>