<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StaffDetailMapper">
	
<!-- 
 * 说明： 工资明细
 * 创建人：zhangxiaoliu
 * 创建时间：2017-06-19
 * @version
 -->
 
	<!--表名 -->
	<sql id="tableName">
		tb_staff_detail
	</sql>
	
	<!-- 字段 -->
	<sql id="FieldSelectKey"> BILL_CODE BILL_CODE__, BUSI_DATE BUSI_DATE__, USER_CODE USER_CODE__</sql>
    
	<!-- 获取员工编码 相当于字典-->
	<!-- 张晓柳 -->
	<select id="getHaveUserCodeDic" parameterType="pd" resultType="String">
		select USER_CODE
		from <include refid="tableName"></include>
		where BUSI_DATE = '${RPT_DUR}'
		and DEPT_CODE = '${RPT_DEPT}'
	</select>
	
	<!-- 获取数据 验证数据重复 -->
	<select id="findByModel" parameterType="pd" resultType="pd">
		select * 
		from 
		    <include refid="tableName"></include>
        <where>
		<foreach item="item" index="index" collection="list" open=" " separator=" or " close=" ">
            (BUSI_DATE = #{item.BUSI_DATE} and USER_CODE = #{item.USER_CODE} and USER_CODE != #{item.USER_CODE__})
		</foreach>
		</where>
	</select>
	
	<!-- 列表 -->
	<select id="datalistJqPage" parameterType="jqPage" resultType="pd">
		select 
		    * ,
		    <include refid="FieldSelectKey"></include>
		from 
		<include refid="tableName"></include>
		where BUSI_DATE = '${pd.SystemDateTime}'
		and DEPT_CODE = '${pd.DepartCode}'
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
		<if test="pd.UserCode!= null and pd.UserCode != ''"><!-- 关键词检索 -->
		    and USER_CODE = '${pd.UserCode}'
		</if>
		<if test="sidx != null and sidx.trim() != ''" >
			order by ${sidx} ${sord} 
    	</if>
		<if test="currentResult != null and rowNum != null" >           
              limit #{currentResult}, #{rowNum} 
        </if>
	</select>
	<select id="countJqGridExtend" parameterType="jqPage" resultType="int">
		select count(*) from <include refid="tableName"></include> 
		where BUSI_DATE = '${pd.SystemDateTime}'
		and DEPT_CODE = '${pd.DepartCode}'
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
		<if test="pd.UserCode!= null and pd.UserCode != ''"><!-- 关键词检索 -->
		    and USER_CODE = '${pd.UserCode}'
		</if>
	</select>
	<select id="getFooterSummary" parameterType="jqPage" resultType="pd">
		select ${pd.Userdata} 
		from <include refid="tableName"></include> 
		where BUSI_DATE = '${pd.SystemDateTime}'
		and DEPT_CODE = '${pd.DepartCode}'
		<if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''"><!-- 关键词检索 -->
			${pd.filterWhereResult}
		</if>
		<if test="pd.UserCode!= null and pd.UserCode != ''"><!-- 关键词检索 -->
		    and USER_CODE = '${pd.UserCode}'
		</if>
	</select>
	
	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into 
	    <include refid="tableName"></include>
		(${InsertField}) values (${InsertVale})
	</insert>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where
		<foreach item="item" index="index" collection="list" open=" (" separator=" or " close=") ">
            BUSI_DATE = #{item.BUSI_DATE__} and USER_CODE = #{item.USER_CODE__} 
		</foreach>
	</delete>
	
	<!-- 导入删除-->
	<delete id="importDelete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where BUSI_DATE = #{BUSI_DATE}
	    and DEPT_CODE = #{DEPT_CODE} 
	</delete>
	
	<!-- 导出列表 -->
	<select id="exportList" parameterType="jqPage" resultType="pd">
		select * 
		from 
		<include refid="tableName"></include>
		where BUSI_DATE = '${pd.SystemDateTime}'
		and DEPT_CODE = '${pd.DepartCode}'
		<!-- <if test="pd.filterWhereResult!= null and pd.filterWhereResult != ''">
			and ${pd.filterWhereResult}
		</if> -->
		<if test="sidx != null" >
			order by ${sidx} ${sord} 
    	</if>
	</select>
	<!-- 导出模板 -->
	<select id="exportModel" parameterType="String" resultType="pd">
		select * 
		from 
		<include refid="tableName"></include>
		where DEPT_CODE = #{DepartCode}
		order by BUSI_DATE desc
		limit 1
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 获取汇总里的明细 -->
	<select id="getDetailList" parameterType="pd" resultType="pd">
		select * 
		from <include refid="tableName"></include>
	    where BILL_CODE = #{BILL_CODE}
	</select>
	
	<!-- 获取汇总数据 -->
	<select id="getSum" parameterType="java.util.Map" resultType="pd">
        select 
            ${SelectFeild}
		from 
		<include refid="tableName"></include>
		where BUSI_DATE = '${BUSI_DATE}'
	    and DEPT_CODE = '${DEPT_CODE}' 
	    group by ${GroupbyFeild}
    </select>

	<!-- 修改单号 -->
	<update id="editBillCode" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			BILL_CODE = #{BILL_CODE}
		where ${updateFilter}
	</update>
		
</mapper>